Django==5.2.4
django-crispy-forms==2.1
crispy-bootstrap5==0.7
Pillow
requests==2.31.0
pandas
numpy
djangorestframework==3.14.0
django-cors-headers==4.3.1
gunicorn==21.2.0
whitenoise==6.6.0
openpyxl
matplotlib
seaborn
python-decouple
dj-database-url
celery
redis
scikit-learn
joblib 
# faiss-cpu
# sentence-transformers
# transformers 