{% extends 'dashboard/base.html' %}
{% block title %}Demandbase Analytics{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>Demandbase Analytics</h2>
  <div class="row mb-4">
    <div class="col-md-4"><div class="card"><div class="card-body"><h6>Total Accounts</h6><h4>{{ total_accounts }}</h4></div></div></div>
    <div class="col-md-4"><div class="card"><div class="card-body"><h6>Total Contacts</h6><h4>{{ total_contacts }}</h4></div></div></div>
    <div class="col-md-4"><div class="card"><div class="card-body"><h6>Avg Engagement</h6><h4>{{ avg_engagement }}%</h4></div></div></div>
  </div>
  <div class="card mb-4"><div class="card-body">
    <h5>Accounts</h5>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead><tr><th>Company</th><th>Industry</th><th>Size</th><th>Engagement</th><th>Score</th></tr></thead>
        <tbody>
          {% for a in accounts %}
          <tr>
            <td>{{ a.company_name }}</td>
            <td>{{ a.industry }}</td>
            <td>{{ a.company_size }}</td>
            <td>{{ a.engagement }}%</td>
            <td>{{ a.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div></div>
</div>
{% endblock %} 